header
{
    background: #01474a;
    
}

.admin-wrapper
{
    display: flex;
    height: calc(100% - 66px);
}

.admin-wrapper .left-sidebar
{
     flex: 2;
    height: 100%;
    background: #234a57;
}

.admin-wrapper .admin-content
{
    flex: 8;
   height: 100%;
   padding: 40px 100px 100px;
   overflow: scroll;
    /* border: 1px solid green; */
}

.admin-wrapper .left-sidebar ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

.admin-wrapper .left-sidebar ul li a
{
   padding: 18px;
   display: block;
   border:  1px solid #004044;

}

.admin-wrapper .left-sidebar ul li a:hover
{
    background: #004044;
}
.admin-wrapper .admin-content .button-group a
{
    background: #007e83;
    color: white;
    cursor: pointer;
    border-radius: .5rem;
}
.admin-wrapper .admin-content .button-group a:hover
{
    background: #004044;
}

.admin-content .page-title
{
    text-align: center;
    margin-bottom: 1.5rem;
}

table
{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
    
}

th, td
{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}

.edit
{
    color: green;
}
.delete
{
    color: red;
}
.publish
{
    color: blue;
}

.edit:hover,
.delete:hover,
.publish:hover
{
    text-decoration: underline;
}

.btn
{
    background: #007e83;
    color: white;
    cursor: pointer;
    border-radius: .5rem;
}

.btn:hover
{
    background: #004044;
}

form div
{
    margin: 15px;
}


.create-input input
{
    width: 80%;
    height: 35px;
    border-radius: 5px;
}

.create-descript textarea
{
    width: 80%;
    height: 70px;
    border-radius: 5px;
}

button.save-topic
{
    width: 80%;
    height: 30px;
    background: #007e83;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.resize
{
    width: 70px;
    height: 40px;
    border-radius: 5px;
}

.title_edit
{
    max-width: 190px; 
  overflow: scroll;
  white-space: nowrap;
}


.main-post
{
    width: 95%;
    max-width: 1500px;
    height: 100%;
    margin-top: 40px !important;
    margin: auto;
    display: flex;
    gap: 20px;
}

.single-post
{
    position: relative;
    background: linear-gradient(0deg, white, rgb(154, 151, 151));
    width: 70%;
    /* box-shadow: 0 0 10px 1px  hsla(0, 0%, 0%, 0.1); */
    padding: 10px;
    border-radius: 5px;
    /* box-shadow: 0 0 2px 0.9px #222323; */
    overflow: scroll;
}

.side-topics
{
    width: 30%;
    border-left: 0.1px solid black;

}

.image
{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.postpreview
{
    width: 100%;
    height: auto; 
    
}

.postpreview .user-icons 
{
    display: flex;
    column-gap: 20px;
    font-size: 1.2rem;
}

.postpreview .user-icons i span
{
    font-size: 1.3rem;

}

.postpreview .user-icons i:hover
{
    color: #007e83;
}

.postpreview .likes
{
    display: flex;
    gap: 0.7rem;
}

.postpreview .likes button
{
    cursor: pointer;
}

.like-button
{
    background: none;
    border: none;
    cursor: pointer;

}

.comment-button
{

    background: none;
    border: none;
    cursor: pointer;
}

.input-container {
    position: relative;
    width: 100%; 
}
.comment-button i
{
    font-size: 1.1rem;
}

.comment-body
{
    position: relative;
    width: 100%;
    height: 100px; /* Set the desired height */
    padding-right: 40px; /* Space for the button */
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; 
}

.submit
{
    position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            background: none;
            border: none;
            cursor: pointer;
            padding: 5px;
            font-size: 1.5rem;
}

.submit:hover
{
    color: #007e83;
}

.postpreview .likes button i
{
    font-size: 1.2rem;
    
}

li
{
    list-style: none;
}

.main-post .topics ul li a
{
    
    display: block;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0 15px 0;
    transition: all  0.5s;
    list-style: none;
}

.main-post .topics ul li a:hover
{
    padding-left: 10px;
    transition: all  0.5s;
}

.comments 
{
    margin-top: 20px;
    
}

.comments ::placeholder
{
    color: black;
}

#upLoadedComments
{
    margin-bottom: 10px;
}

.delete-comment
{
    border: none;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
}
.delete-comment:hover
{
    color: #007e83;
}

.comment-user-info
{
    display: flex;
    
}

.user-initial {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color:  #007e83;
    color: white;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 8px;
    cursor: pointer;
  }

  .dates-time
  {
    background: rgb(255, 254, 254);
    height: auto;
    width: auto;
    margin-bottom: 2rem;
    padding: 2px 15px;
    border-radius: 10px;
    text-align: center;
  }
  .space-area
  {
      width: 100%;
      resize: none;
      border: none;
      background: #e5f7fd;
  }

  @media only screen and (max-width: 710px)
  {
    .admin-wrapper .admin-content {
        padding: 40px 10px;
    }

  }

  @media only screen and (max-width: 641px)
  {
    .main-post
    {
        display: block;
        overflow: scroll;
    }
    .single-post
    {

        width: 100%;
       
    }
    .side-topics
    {
        width: 50%;
    }
    
  }

  .email-error, .message-error
  {
    color: red;
    font-size: 12px;
  }

  .fa-check-circle
  {
    margin-left: 8px;
    font-size: 20px;
  }

  .message-disp
  {
    color: green;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  @media only screen and (max-width: 565px)
  {
    .btn-big
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }
    
    #postsContainer
    {
        overflow: scroll;
    }
  }